<mat-toolbar color="primary">
    <span class="mr-2">Beauty Shop</span>
    <a mat-button class="mr-2">
        Shop
    </a>
    <a mat-button class="mr-2">
        Products
    </a>
    <a mat-button class="mr-2">
        Orders
    </a>
    <span class="spacer"></span>
    <div class="mr-2">
        <a mat-mini-fab color="primary" class="mr-2">
            <mat-icon>search</mat-icon>
        </a>
    </div>
    
    <div class="mr-2">
        <a  mat-mini-fab color="primary" class="mr-2">
            <mat-icon>shopping_cart</mat-icon>
        </a>
    </div>
    <a  mat-mini-fab color="primary" color="primary">
        <mat-icon>person</mat-icon>
    </a>
</mat-toolbar>
